<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/at21eboxoffice/css/semantic.min.css') }}" />
        {% stylesheets 'bundles/at21eboxoffice/css/main.css' filter="cssrewrite" %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <!-- endbower -->
        <!-- endbuild -->
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <nav class="ui menu inverted navbar page grid" style="margin-bottom: 0px">
            <a href="{{ url('at21_eboxoffice_homepage') }}" class="brand item">{{ appName }}</a>
            {% if app.user.username is defined %}
                <div class="ui right inverted menu">
                    <div class="ui dropdown item">
                        {{ app.user.username }}
                        <div class="menu">
                            <a class="item" href="{{ url('fos_user_profile_edit') }}">Edit Profile</a>
                            <a class="item" href="{{ url('fos_user_change_password') }}">Change Password</a>
                            <div class="divider"></div>
                            <a class="item" href="{{ url('fos_user_security_logout') }}">Log Out</a>
                        </div>
                        <i class="caret down icon"></i>
                    </div>
                </div>
            {% else %}
                <div class="ui right inverted menu">
                    <a class="item" href="{{ path('fos_user_security_login') }}">Log In</a>
                    <a class="item" href="{{ path('fos_user_registration_register') }}">Sign Up</a>
                </div>
            {% endif %}
        </nav>
        <div class="ui hidden divider"></div>
        <div class="ui page grid">
            {% block body %}{% endblock %}
            <div class="row">
                <div class="column">
                    <div class="ui divider"></div>
                    <span>&copy; E-BoxOffice 2015</span>
                </div>
            </div>
        </div>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% javascripts '@At21EBoxOfficeBundle/Resources/public/js/semantic.min.js'
                        '@At21EBoxOfficeBundle/Resources/public/js/main.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
