{% extends "::base.html.twig" %}

{% trans_default_domain 'At21EBoxOfficeBundle' %}

{% block body %}
    <input id="userId" type="hidden" value="{{ app.user.id }}"/>
    <input id="sessionId" type="hidden" value="{{ session.id }}"/>
    <div class="sixteen wide column">
        <table class="ui definition table">
            <thead>
                <tr>
                    <th colspan="1"></th>
                    {% for i in 1..session.theatre.numberOfSeatsPerRow %}
                        <th>{{ i }}</th>
                    {% endfor %}
                </tr>
            </thead>
        {% for seat in session.seats %}
            {% if seat.columnNumber == 1 %}
                <tr><td>{{ seat.rowNumber }}</td>
            {% endif %}
            <td>
                <div data-id="{{ seat.id }}"
                     data-version="{{ seat.version }}"
                     data-row="{{ seat.rowNumber }}"
                     data-column="{{ seat.columnNumber }}"
                     data-price="{{ seat.session.price }}"
                     data-user="{% if seat.user != ''%}{{ seat.user.id }}{% endif %}">
                    {% if seat.user is null %}
                        {% image '@At21EBoxOfficeBundle/Resources/public/images/seat.png' %}
                        <img class="ui image" src="{{ asset_url }}" alt="Free seat"/>
                        {% endimage %}
                    {% elseif (seat.user) and (app.user.id == seat.user.id) %}
                        {% image '@At21EBoxOfficeBundle/Resources/public/images/your-seat.png' %}
                        <img class="ui image" src="{{ asset_url }}" alt="Your seat"/>
                        {% endimage %}
                    {% else %}
                        {% image '@At21EBoxOfficeBundle/Resources/public/images/busy-seat.png' %}
                        <img class="ui image" src="{{ asset_url }}" alt="Busy seat"/>
                        {% endimage %}
                    {% endif %}
                    <div>R: {{ seat.rowNumber }}</div>
                    <div>C: {{ seat.columnNumber }}</div>
                </div>
            </td>

            {% if seat.columnNumber == session.theatre.numberOfSeatsPerRow %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
    <div class="sixteen wide column">
        <div class="ui header">Seats selected: </div>
        <div id="seat-list" class="ui relaxed horizontal list"></div>
    </div>
    <div class="sixteen wide column">
        <div class="ui header">Amount: </div>
        <h4 id="amount" class="ui header"></h4>
    </div>
    <div class="sixteen wide column">
        <div id="confirmAndPay" class="ui button">Confirm & Pay</div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/at21eboxoffice/js/checkSession.js') }}" type="text/javascript"></script>
{% endblock %}