{% extends "::base.html.twig" %}

{% trans_default_domain 'At21EBoxOfficeBundle' %}

{% block body %}
    <div class="sixteen wide column">
        <form class="ui form" action="{{ path('at21_eboxoffice_session_new', {'id': play.id }) }}" {{ form_enctype(form) }} method="post">
            <h4 class="ui dividing header">{{ 'play.new.header'|trans }}</h4>
            <input type="hidden" >
            <div class="four fields">
                <div class="ui input field">
                    {{ form_label(form.play) }}
                    {{ form_widget(form.play) }}
                </div>
                <div class="ui input field">
                    {{ form_label(form.date) }}
                    {{ form_widget(form.date) }}
                </div>
                <div class="ui input field">
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price) }}
                </div>
                <div class="ui input field">
                    {{ form_label(form.theatre) }}
                    {{ form_widget(form.theatre) }}
                </div>
                {{ form_widget(form._token) }}
            </div>
            <div>
                <input class="ui submit button" type="submit" value="{{ 'play.new.submit'|trans }}" />
            </div>
        </form>
    </div>
{% endblock %}