{% extends "::base.html.twig" %}

{% trans_default_domain 'At21EBoxOfficeBundle' %}

{% block body %}
    {% for seat in seats %}
        <div class="four wide column">
            <div class="ui segment">
                <h4 class="header">{{ 'seat.book.header'|trans }}:</h4>
                <p>Row: {{ seat.rowNumber }}</p>
                <p>Column: {{ seat.columnNumber }}</p>
                <a href="{{ path('at21_eboxoffice_seat_confirm&pay') }}" class="ui button">{{ 'seat.book.confirm&pay'|trans }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/at21eboxoffice/js/checkSession.js') }}" type="text/javascript" ></script>
{% endblock %}