{% extends "::base.html.twig" %}

{% trans_default_domain 'At21EBoxOfficeBundle' %}

{% block body %}
    <div class="sixteen wide column">
        <form class="ui form" action="{{ path('at21_eboxoffice_event_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
            <h4 class="ui dividing header">{{ 'event.new.header'|trans }}</h4>
            <div class="four fields">
                <div class="ui input field">
                    {{ form_label(form.date) }}
                    {{ form_widget(form.date) }}
                </div>
                <div class="ui input field">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="ui input field">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="ui input field">
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price) }}
                </div>
                <div class="ui input field">
                    {{ form_label(form.theatre) }}
                    {{ form_widget(form.theatre) }}
                </div>
                {{ form_widget(form._token) }}
            </div>
            <div>
                <input class="ui submit button" type="submit" value="{{ 'event.new.submit'|trans }}" />
            </div>
        </form>
    </div>
{% endblock %}