{% extends "::base.html.twig" %}

{% trans_default_domain 'At21EBoxOfficeBundle' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="sixteen wide column">
            <a href="{{ path('at21_eboxoffice_session_new', {'id': play.id}) }}" class="ui button">{{ 'session.new.header'|trans }}</a>
        </div>
    {% endif %}

    {% for session in sessions %}
        <div class="four wide column">
            <div class="ui segment">
                <p>{{ session.date|date("m/d/Y H:i:s") }}</p>
                <p>{{ session.theatre.name }}</p>
                <a href="{{ path('at21_eboxoffice_session_check', {'id': session.id}) }}">{{ 'session.check.link'|trans }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}{% endblock %}